<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo General</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <button onclick="history.back()" class="btn-back-fixed">&larr;</button>

    <div class="main-app-container">
        <header class="main-header">
            <nav class="main-nav">
                <a href="{{url_for('inicio')}}" class="nav-item">Inicio</a>
                <a href="{{url_for('catalogo_general')}}" class="nav-item active">Ver Todo</a>
                <a href="{{url_for('catalogo_hombre')}}" class="nav-item">Hombre</a>
                <a href="{{url_for('catalogo_mujer')}}" class="nav-item">Mujer</a>
                <a href="{{url_for('carrito')}}" class="nav-item">Carrito</a>
                
            </nav>
        </header>

        <main>
            <h2 class="section-title">Catálogo General</h2>
            <div class="product-grid">
                {% if perfumes %}
                    {% for p in perfumes %}
                        <a href="{{ url_for('producto_detalle') }}?id={{ p[0] }}" class="product-card"><img src="{{ url_for('static', filename='img/perfume_' ~ p[0] ~ '.jpg') }}" alt="{{ p[1] }}">
                            <h3>{{ p[1] }}</h3>
                        </a>
                    {% endfor %}
                {% else %}
                        <p>No hay perfumes disponibles en este momento.</p>
                {% endif %}        
            </div>
        </main>
    </div>
</body>
</html>