<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Perfumes - Inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <div class="main-app-container">
        <header class="main-header">
            <div class="search-bar">
                <input type="search" placeholder="Buscar tu aroma ideal...">
            </div>
            <nav class="main-nav">
                <a href="{{url_for('inicio')}}" class="nav-item active">Inicio</a>
                <a href="{{url_for('catalogo-general')}}" class="nav-item">Ver Todo</a>
                <a href="{{url_for('catalogo-hombre')}}" class="nav-item">Hombre</a>
                <a href="{{url_for('catalogo-mujer')}}" class="nav-item">Mujer</a>
                <a href="{{url_for('carrito')}}" class="nav-item">Carrito</a>
           
            </nav>
        </header>

        <main>
            <div class="banner-grid">
                <div class="banner" style="background-image: url('img/logo1.jpeg');"></div>
                <div class="banner" style="background-image: url('img/logo2.jpeg');"></div>
                <div class="banner" style="background-image: url('img/logo3.png');"></div>
            </div>

            <h2 class="section-title">Novedades</h2>
            
            <div class="product-grid">
                </div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/inicio.js') }}" defer></script>
</body>
</html>