<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="imagen-lado">
            <img src="{{url_for('static', filename='img/logo3.jpg')}}" alt="Perfume de bienvenida">
            <p>Tu aroma, tu sello personal</p>
        </div>
        <div class="formulario-lado">
            <form action="{{url_for('login')}}">
                <h2>Iniciar Sesión</h2>
                
                <input 
                    type="text" 
                    placeholder="Usuario" 
                    required
                    pattern="[a-zA-Z0-9_-]+"
                    title="Solo se permiten letras (a-z), números (0-9), guion bajo y medio (_-).">

                <input 
                    type="password" 
                    placeholder="Contraseña" 
                    required
                    minlength="8">
                
                <a href="{{url_for('recuperar')}}" class="olvidaste-link">¿Olvidaste tu contraseña?</a>
                <button type="submit">Login</button>
                <div class="enlaces-secundarios">
                    <p>¿No tienes cuenta? <a href="{{url_for('crear_cuenta')}}">Crear</a></p>
                    <p><a href="{{url_for('inicio')}}">Iniciar como invitado</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>