<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando producto...</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <button onclick="history.back()" class="btn-back-fixed">&larr;</button>

    <div class="main-app-container">
        <header class="main-header">
            <nav class="main-nav">
                <a href="{{url_for('inicio')}}" class="nav-item">Inicio</a>
                <a href="{{url_for('catalogo_general')}}" class="nav-item">Ver Todo</a>
                <a href="{{url_for('catalogo_hombre')}}" class="nav-item">Hombre</a>
                <a href="{{url_for('catalogo_mujer')}}" class="nav-item">Mujer</a>
                
            </nav>
        </header>

        <main class="detalle-container">
            
            <div class="detalle-imagen">
                <img id="producto-imagen" src="" alt="Cargando...">
            </div>
            
            <div class="detalle-info">
                <h1 id="producto-nombre">Cargando...</h1>
                <p id="producto-talla"></p>
                <p class="price" id="producto-precio">$0.00</p>
                
                <p id="producto-descripcion" class="description">Cargando descripción...</p>
                <div class="quantity-container">
                    <button class="quantity-btn" id="btn-minus">—</button>
                    <input type="number" id="cantidad-input" min="1" max="10" value="1" class="quantity-input" readonly>
                    <button class="quantity-btn" id="btn-plus">+</button>
                </div>
                <button class="btn">Añadir al Carrito</button>
            </div>

        </main>

        </div>
</body>
<script src="{{ url_for('static', filename='js/detalle.js') }}"></script>

    <div id="toast-alerta">Se añadió al carrito</div>

</body>
</html>