<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando producto...</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <button onclick="history.back()" class="btn-back-fixed">&larr;</button>

    <div class="main-app-container">
        <header class="main-header">
            <nav class="main-nav">
                <a href="{{url_for('inicio')}}" class="nav-item">Inicio</a>
                <a href="{{url_for('catalogo_general')}}" class="nav-item">Ver Todo</a>
                <a href="{{url_for('catalogo_hombre')}}" class="nav-item">Hombre</a>
                <a href="{{url_for('catalogo_mujer')}}" class="nav-item">Mujer</a>
                <a href="{{url_for('carrito')}}" class="nav-item">Carrito</a>
            </nav>
        </header>

        <main class="detail-container">
            
            <div class="detail-image">
                <img src="" alt="Cargando..." id="producto-imagen">
            </div>
            
            <div class="detalle-info">
                <h1 id="producto-nombre">Cargando...</h1>
                <p class="price" id="producto-precio">$0.00</p>
                
                <p id="producto-descripcion" class="description">Cargando descripción...</p>
                
                <button class="btn">Añadir al Carrito</button>
            </div>

        </main>

        </div>

    <script src="{{ url_for('static', filename='js/detalle.js') }}"></script>
</body>
<script src="{{ url_for('static', filename='js/detalle.js') }}"></script>

    <div id="toast-alerta">Se añadió al carrito</div>

</body>
</html>
</html>